# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://finovax:finovax@cluster0.gkjxfa1.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJjNmQ4ZjY4My0wNTk4LTQyODgtYTAzNC1lYTA0MjFkYjcxYjEiLCJlbWFpbCI6ImphbmFraXJhbWFua2VlcnRoaXZlbGFuMTAyMUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZWUwNDA3MDJjZTU2YWQzM2FjOTYiLCJzY29wZWRLZXlTZWNyZXQiOiIxMmM5ZDczNThiMDg2YTgxMWM5ZTFkMzRmZmE4Nzc0MzkyMTMwODEyNmYwNzg0YThmNzE3ZTZmYTNhNDU3MzhjIiwiZXhwIjoxODAzMTg4MDU2fQ.r84ggAPdzHAnie0Sxls1wtJZvEA6_1y1t_lsdHy_Qjw
JWT_EXPIRE=7d

# Blockchain (Sepolia Testnet)
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/0a47a4ef135440ca807944862771cb8a
WALLET_PRIVATE_KEY=1404b5d93b9d5b891c9652705ba0ef47f1cd423f4b1b82bdfddc28e1908d7010
INVOICE_REGISTRY_CONTRACT=0x5C58ec6EA0661C5F03A44Ed173Bb96186A83EE4B

# IPFS (Pinata)
PINATA_API_KEY=ee040702ce56ad33ac96
PINATA_SECRET_KEY=12c9d7358b086a811c9e1d34ffa87743921308126f0784a8f717e6fa3a45738c

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
