# Server

PORT=
NODE_ENV=

# MongoDB

MONGO_URI=

# JWT

JWT_SECRET=
JWT_EXPIRE=

# Blockchain (Sepolia Testnet)

SEPOLIA_RPC_URL=
WALLET_PRIVATE_KEY=
INVOICE_REGISTRY_CONTRACT=

# IPFS (Pinata)

PINATA_API_KEY=
PINATA_SECRET_KEY=

# Rate Limiting

RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=
